<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/../styles.css">
  </head>
  <body class="plans-body">
    <%- include ('../partials/nav.ejs') %>
    <div class="plan-index-container">
        <% for (let i = 0; i < plans.length; i++) { %>
            <div class="plan-index-card">
              <div class="date">
                <% let date = new Date(plans[i].createdAt)
                let day = date.getDate()
                let month = date.getMonth()
                let year = date.getFullYear()
                let fullDate = (`${month}/${day}/${year}`) %>
                <h1><a href="/mealplans/<%=plans[i].id%>/edit"><%= fullDate %></a></h1>
              </div>
              <form class='form-flex' action="/mealplans?_method=DELETE" method="post">
                <a href="/mealplans/<%=plans[i].id%>/edit">Edit</a>
                <input type="hidden" name="id" value="<%=plans[i].id%>">
                <input type="submit" value="Delete">
              </form>
              <div class="plan-index-card-flex">
                <div class="horarios">
                  <h3>Breakfast</h3>
                  <h4><%= plans[i].breakfast %></h4>
                </div>
                <div class="horarios">
                  <h3>Lunch</h3>
                  <h4><%= plans[i].lunch %></h4>
                </div>
                <div class="horarios">
                  <h3>Dinner</h3>
                  <h4><%= plans[i].dinner %></h4>
                </div>
              </div>
              <div class="note">
                <h3>Notes:</h3>
                <div class="notes-scroll">
                  <% for (let j = 0; j < plans[i].notes.length; j++) { %>
                    <p><%=plans[i].notes[j]%></p>
                  <%}%>
                </div>
              </div>
              <form class="form" action="/mealplans/note/quick/edit?_method=PUT" method="post">
                <input type="hidden" name="id" value="<%=plans[i].id%>">
                <textarea id="textarea" name="notes"></textarea>
                <div class="submit">
                  <input type="submit" value="Submit Note">
                </div>
              </form>
            </div>
        <% } %>
    </div>
  </body>
</html>
