<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="plan-index-container">
        <% for (let i = 0; i < plans.length; i++) { %>
            <div class="plan-index-card">
              <div class="date">
                <% let date = new Date(plans[i].createdAt)
                let day = date.getDate()
                let month = date.getMonth()
                let year = date.getFullYear()
                let fullDate = (`${month}/${day}/${year}`) %>
                <h1><a href="/mealplans/<%=plans[i].id%>"><%= fullDate %></a></h1>
              </div>
              <div class="plan-index-card-flex">
                <div class="horarios">
                  <h1>Breakfast</h1>
                  <p><%= plans[i].breakfast %></p>
                </div>
                <div class="horarios">
                  <h1>Lunch</h1>
                  <p><%= plans[i].lunch %></p>
                </div>
                <div class="horarios">
                  <h1>Dinner</h1>
                  <p><%= plans[i].dinner %></p>
                </div>
              </div>
              <form class="plan-form" action="/mealplans?_method=DELETE" method="post">
                <input type="hidden" name="id" value="<%=plans[i].id%>">
                <input type="submit" value="DELETE">
              </form>
              <button type="button" name="button">Add Note</button>
              <button type="button" name="button">Edit</button>
            </div>
        <% } %>
    </div>
  </body>
</html>
