<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="side-tab">
      <a href="/foods/seed/starterdata/fill/maybe/yes">Click here to add some pre-selected Brazilian dishes!</a>
    </div>
    <div class="index-container">
      <% for (let i = 0; i < user.addedFoods.length; i++) { %>
          <div class="index-cards">
            <a class = "index-name" href="/foods/<%=user.id%>/<%=i%>"><%= user.addedFoods[i].name %></a>
            <a href="/foods/<%=user.id%>/<%=i%>"><img class="index-img" src="<%= user.addedFoods[i].img %>" alt="<%=user.addedFoods[i].name%>"></a>
          </div>
      <% } %>
    </div>
  </body>
</html>
