<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <h1>Indigenous Foods of Brazil</h1>
    <div class="index-container">
      <% for (let i = 0; i < foods.length; i++) { %>
          <div class="index-cards">
            <h3><%= foods[i].name %></h3>
            <a href="foods/<%= foods[i].id %>"><img class="index-img" src="<%= foods[i].img %>" alt="<%=foods[i].name%>"></a> 
            <p><%= foods[i].description %></p>
          </div>
      <% } %>
    </div>
  </body>
</html>
