<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="side-tab">
      <a href="/foods/seed/starterdata">Generate Brazilian Dishes</a>
    </div>
    <div class="index-container">
      <% for (let i = 0; i < foods.length; i++) { %>
          <div class="index-cards">
            <h3 class=index-name><%= foods[i].name %></h3>
            <a href="/foods/<%= foods[i].id %>"><img class="index-img" src="<%= foods[i].img %>" alt="<%=foods[i].name%>"></a>
          </div>
      <% } %>
    </div>
  </body>
</html>
