<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="show-container">
      <div class="show-image">
        <h1><%= food.name %></h1>
        <div class="a-tags">
          <a href="/foods/<%=food.id%>/edit">Edit Dish</a>
        </div>
        <form class="show-delete" action="/foods/<%=food.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
        <img class="show-img" src="<%= food.img %>" alt="<%= food.name %>">
      </div>
      <div class="show-info">
        <div class="info-cards">
          <h3>Description</h3>
          <p><%= food.description %></p>
        </div>
        <div class="info-cards">
          <h3>Recipe</h3>
          <img src="<%= food.recipe %>" alt="">
        </div>
        <div class="info-cards">
          <h3>Etymology</h3>
          <p><%= food.etymology %></p>
        </div>
      </div>
    </div>
  </body>
</html>
