<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/nav.ejs') %>
    <div class="show-container">
      <div class="show-image">
        <h1><%= food.name %></h1>
        <div class="double-trouble">
          <div class="a-tags">
            <a href="/foods/<%=user.id%>/<%=food.id%>/<%=index%>/edit">Edit</a>
          </div>
          <form class="show-delete" action="/foods/<%=user.id%>/<%=food.id%>/<%=index%>?_method=DELETE" method="post">
            <input class="delete-button" type="submit" value="Delete">
          </form>
        </div>
        <img class="show-img" src="<%= food.img %>" alt="<%= food.name %>">
      </div>
      <div class="show-info">
        <div class="info-cards">
          <h3>Description</h3>
          <p><%= food.description %></p>
        </div>
        <div class="info-cards">
          <h3>Recipe</h3>
          <h3><a href="<%= food.recipe %>"><%= food.recipe %></a></h3>
        </div>
        <div class="info-cards">
          <h3>Etymology</h3>
          <p><%= food.etymology %></p>
        </div>
      </div>
    </div>
  </body>
</html>
